
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Topbar {
  width: 100%;
  background-color: #282c34;
  padding: 24px 48px 12px;
  text-align: center;
}

.Topbar > img {
  width: 100px;
}

.AppFooter {
  width: 100%;
  background-color: #282c34;
  padding: 24px 48px 12px;
  text-align: center;
  color: #bbb;
}

.MainContainer {
  width: 100%;
  padding: 24px 48px 24px;
  display: flex;
}

.ColorContainer {
  width: 100%;
  /* background-color: red; */
}

.ColorOptions {
  width: 50%;
  display: flex;
}

.ColorOptions > img {
  width: 100%;
  max-width: 80px;
  display: flex;
  border: 2px solid #eba421;
  border-radius: 8px;
  padding: 12px;
  margin-right: 6px;
}

.ProductPreview {
  width: 50%;
  /* background-color: greenyellow; */
}

.ProductPreview > img {
  width: 100%;
  padding: 12px 96px;
}

.ProductDetail {
  width: 50%;
  /* background-color: orange; */
}

.BuyContainer {
  width: 100%;
  /* background-color: purple; */
}


.btn {
  margin-top: 12px;
}